// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.main {
    min-height: calc(100vh - 3.5rem);
    padding-bottom: 2.5rem;
}

.sticky-bottom {
    position: fixed;
    bottom: 0px;
    display: flex;
    width: 100%;
}

.text-suggest {
    position: absolute;
    margin-top: 3rem;
    z-index: 10;
    color: #FFFFFF;
    background-color: #2f4f4f;
    width: 100%;

    .item:hover {
        background-color: #000000;
    }
}